*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    
}

#main{
    width: 100%;
    height: 100%;
    background-color: rgb(250, 221, 226);
}

#navBar{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;

}

#navBar h5{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 35px;
    border: 1px solid black;
    border-radius: 50px;
    padding: 4px 9px;
    margin: 0 7px;

}

#center{
    height: calc(100% - 150px);
    /* background-color: red; */
    position: relative;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#heading{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    flex-direction: column;
}
#center h1{
    font-size: 110px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 28%;
    top: 20px;
    font-weight: 900;
    font-style: italic;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
    color: transparent;
}
#center h2{
    font-size: 110px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 29%;
    top: 32px;
    font-weight: 900;
    font-style: italic;
}

#image{
    width: 1000px;
    height: 500px;
    border: 1px solid black;
    position: relative;
    top: 10%;
    border-radius: 50%;
    
    object-fit: cover;
    object-position: 100% 100%;
    

}

#image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    border-radius: 50%;
}

button{
    position: absolute;
    font-size: 25px;
    top: 29%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    transform: rotate(-5deg);
    right: 10%;
    width: 200px;
    height: 70px;
    border: 3px solid black;
    border-radius: 50%;
    background-color: rgb(135, 163, 127);

}